@model AKrepo.Producent

@{
    ViewBag.Title = "VisProducent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h1>@Model.Navn</h1>
    <img src="~/Content/Billeder/Producenter/@Model.Logo" alt="Logo"/>

